<!DOCTYPE html>
<html>
  <head>
    <!--Stop the zoooooom-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
    
	<link rel="stylesheet" type="text/css" href="/assets/fonts/caslon-web/stylesheet.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/fonts/brandon-text-web/stylesheet.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/fonts/itc-grouch-web/stylesheet.css"/>
	<script src="https://d2t45z63lq9zlh.cloudfront.net/panda-v0.0.5.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<title>LiNK (dev page)</title>
</head>
<body>
	<div id="loading" class="screen">
		<div class="wrapper">
			<div class="circle"></div>
			<p>Loading</p>
		</div>
	</div>
	<div id="title" class="screen noSelectTouch">
		<div class="main">
			<h1 class="glow">Home</h1>
			<h2>finding home: here, there and across the globe.</h2>
			<p class="blinkAnim">Click and hold</p>
		</div>
	</div>
	<div id="instructions">
	  <p id="WebInstructions">Hold down space to explore</p>
	  <p id="MobileInstructions">Press and hold to explore</p>
	</div>

	<div id="nameInput" class="screen">
		<div class="main">
			<h1 class="glow">What's your name?</h1>
			<form class="prompt" id="nameForm">
			  <textarea maxlength="250" rows="3" spellcheck="false" id="nameInputAnswer" class="textinput" type="text" autofocus autocomplete="nope" placeholder="type something..." onfocus="this.placeholder = ''"
				onblur="this.placeholder = 'type something...'"></textarea>
			</form>
			<div class="submitButton glowBorder"></div>
			<div id="nameInputErr" class="inputErr">&zwnj;</div>
		</div>
	</div>
	<div id="quoteInput" class="screen">
		<div class="main">
			<h1 class="glow">Home is...</h1>
			<form class="prompt" id="quoteForm">
				<textarea maxlength="250" rows="3" spellcheck="false" id="userAnswer" class="textinput" type="text"  autofocus autocomplete="nope" placeholder='ex: "the smell of freshly-cooked rice."' onfocus="this.placeholder = ''"
				onblur="const str = 'ex: the smell of freshly-cooked rice'; this.placeholder = str;"></textarea>
			</form>
			<div class="remaining"><span id="userAnswerRemaining">250</span> characters remaining</div>
			<div class="submitButton glowBorder"></div>
			<div id="quoteInputErr" class="inputErr">&zwnj;</div>
		</div>
	</div>
	<div id="quoteMain" class="screen">
		<div id="quoteMainInfoOpen" class="submitButton glowBorder info"></div>
		<div class="main">
			<h1>Home is...</h1>
			<h2 id="quoteMainAnswer">"Home is where I can eat a peanut banana sandwich."</h2>
			<p id="quoteMainUser">Bryan Wong, Los Angeles</p>
			<div id="quoteMainClose" class="submitButton glowBorder"></div>
			<p id="quoteMainInfo" style="opacity: 0;">You know what home means to you. But what about everyone else? Meet other characters and find out what home means to users across the world, just like you.</p>
		</div>
	</div>
<!-- 	<div id="quoteMainInfo" class="screen">
		<div class="main">
			<h1>Homes and Lights</h1>
			<p>Home means something different to everyone. We asked people what home means to them and gave them a toy...</p>
			<div id="quoteMainInfoClose" class="submitButton glowBorder"></div>
		</div>
	</div> -->
	<div id="donation" class="screen">
		<div class="wrapper" id="theWrapper">
			<div class="main mobile-full">
				<div id="donationClose" class="submitButton glowBorder"></div>
				<div class="info mobile-info">
					<h1 class="glow">Finding Home</h1>
					<p>What is home? Maybe it's better to ask where it is, or what it feels like. Or maybe it's <span id="donationQuoteAnswer">sample here</span> That <span id="userCharacter"></span> you see in the middle is your unique character, and those other avatars were made by people just like you. Each of them comes with their own meaning of home. Share your avatar with your friends using this link: <a id="userCharacterLink"></a></br></br></br>Liberty in North Korea is an organization that helps refugees escape an oppressive regime and find new homes across the world. You can support the cause by donating through the form below.</p>
					<a href="https://www.libertyinnorthkorea.org/" target="_blank">learn more</a>
				</div>
				<div id="donationConfirm">Thanks for your contribution!</div>
				<form id="donationForm" spellcheck="false">

					<div class="form-group name">
						<label for="name">first name</label>
						<input type="text" class="form-control" id="name" autocomplete="nope" data-panda="first_name" ></input>
					</div>
					<div class="form-group name">
						<label for="name">last name</label>
						<input type="text" class="form-control" id="name" autocomplete="nope" data-panda="last_name" ></input>
					</div>
					<div class="form-group number">
						<label for="number">card number</label>
						<input type="text" class="form-control" id="number" autocomplete="nope" data-panda="credit_card" ></input>
					</div>
					<div class="form-group cvv">
						<label for="cvv">cvv</label>
						<input maxlength="4" type="text" class="form-control" id="cvv" autocomplete="nope" data-panda="cvv"></input>
					</div>
					<div class="form-group expiration">
						<label for="expiration">expiration</label>
						<input maxlength="7" type="text" class="form-control" id="expiration" autocomplete="nope" data-panda="expiration" ></input>
						<h1 class="description">mm/yyyy</h1>
					</div>
					<div class="form-group amount">
						<label for="amount">amount</label>
						<input type="text" class="form-control" id="amount" autocomplete="nope" ></input>
						<h1 class="description">usd (i.e: 10.00)</h1>
					</div>
					<div class="form-group email">
						<label for="email">email</label>
						<input type="text" class="form-control" id="email" autocomplete="nope" ></input>
						<h1 class="description">for your tax-deductible email receipt</h1>
					</div>
					<div id="donationSubmit" class="DonationSubmit">
						<button type="submit">Submit</button>
					</div>
					<div class="form-group error">
						<ul id="error"></ul>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="container" ></div>

</body>
<script type="vsh" id="vertexShader">
	
	varying vec3 vNormal;
	void main() 
	{
	    vNormal = normalize( normalMatrix * normal );
	    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
	}

</script>
<script type="fsh" id="fragmentShader">

	uniform float c;
	uniform float p;
	varying vec3 vNormal;

	void main() 
	{
		float intensity = pow( c - dot( vNormal, vec3( 0.0, 0.0, 1.0 ) ), p ); 
		gl_FragColor = vec4( 1.0, 1.0, 1.0, 1.0 ) * intensity;
	}

</script>

<script type="vsh" id="globeVertex">

	uniform vec3 avatarPos;
	uniform float appearAmt; //0->1 how many meshes appear around avatar
	uniform float maxDist;
	uniform float size;

	attribute vec3 vOffset;

	varying float opacity;

	float rand(float n){return fract(sin(n) * 43758.5453123);}

	void main() 
	{
	    vec4 mPosition = modelMatrix * vec4(vOffset, 1.);
	    float scale =  size * (.1 + 1.5*rand(vOffset.x));
	    mPosition.xyz += position * 3.*scale;

	    float dist = distance(mPosition.xyz, avatarPos);
	    opacity = (maxDist - distance(mPosition.xyz, avatarPos)) / maxDist;
	    opacity = clamp(opacity, 0., 1.);

	    float appear = step( 1.-appearAmt, rand(scale) );
	    opacity *= appear;

	    gl_Position = projectionMatrix * viewMatrix * mPosition;
	}

</script>
<script type="fsh" id="globeFragment">

	uniform vec3 avatarPos;

	varying float opacity;

	void main() 
	{
		// float intensity = pow( c - dot( vNormal, vec3( 0.0, 0.0, 1.0 ) ), p ); 
		// gl_FragColor = vec4( 1.0, 1.0, 1.0, 1.0 ) * intensity;
		gl_FragColor = vec4( vec3(1.), opacity);
		// gl_FragColor = vec4( normalize(testColor), opacity );
	}

</script>

<script type="text/javascript">
	const PANDA_PUBLIC_KEY = <%- JSON.stringify(PANDA_PUBLIC_KEY) %>;
	const PANDA_SECRET_KEY = <%- JSON.stringify(PANDA_SECRET_KEY) %>;
	const singleView = false;

	const user_data = {
		name: "",
		id: 0,
		text: "",
		donation: 0,
		character: null,
		location: "earth"
	};

	const isMobile = ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) ? true : false;
</script>

<script type="text/javascript" src="/js/Location.js"></script>

<script type="text/javascript" src="/js/lib/three.js"></script>
<script type="text/javascript" src="/js/lib/OrbitControls.js"></script>
<script type="text/javascript" src="/js/lib/SubdivisionModifier.js"></script>
<script type="text/javascript" src="/js/lib/GeometryUtils.js"></script>

<script type="text/javascript" src="/js/lib/CopyShader.js"></script>
<script type="text/javascript" src="/js/lib/EffectComposer.js"></script>
<script type="text/javascript" src="/js/lib/RenderPass.js"></script>
<script type="text/javascript" src="/js/lib/ShaderPass.js"></script>

<script type="text/javascript" src="/js/lib/Tween.js"></script>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/Shaders.js"></script>
<script type="text/javascript" src="/js/data.js"></script>
<script type="text/javascript" src="/js/Loader.js"></script>
<script type="text/javascript" src="/js/Globe.js"></script>
<script type="text/javascript" src="/js/Avatar.js"></script>
<script type="text/javascript" src="/js/API.js"></script>
<script type="text/javascript" src="/js/WorldController.js"></script>
<script type="text/javascript" src="/js/Animations.js"></script>
<script type="text/javascript" src="/js/ui.js"></script>
<script type="text/javascript" src="/js/AudioController.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script type="text/javascript">
	Panda.init(PANDA_PUBLIC_KEY, 'donationForm');

	Panda.on('success', function(token){
		UIController.submitDonation(token);
	});
	Panda.on('error', async function(errors){
		UIController.errorDisplay(errors);
	});
</script>


</html>
