<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p><%= id %></p>
</body>
<script type="text/javascript" src="/js/dist/lib.js"></script>
<script type="text/javascript" src="/js/dist/app.js"></script>
</html>