$Caslon: 'CaslonGraphiqueEF';
$Brandon: 'Brandon Text';
$Grouch: 'ITC Grouch';
$Univers: 'Univers';

@mixin instruction-font(){
	font-family: $Univers;
	// font-weight: 300;
	font-style: italic;
}

$white: #f4f5f7;
$black: #00010c;
$gray: #808285;
$lightgray: #929598;

body{
	margin: 0;
}

h1, h2, header, p, a, span{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin absolute-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.screen{
	position: absolute;
	width: 100%;
	height: 100%;
	background: $black;
	color: $white;
}

#title{
	background: none !important;
	z-index: 4;
	.main{
		text-align: center;
		h1{
			font-family: $Grouch;
			color: $white;
			font-weight: lighter;
			font-size: 5rem;
			margin: 0;
		}
		h2{
			font-family: $Brandon;
			font-weight: lighter;
			font-size: 1.3rem;
			margin: 0;
			color: $white;
			margin-bottom: 10px;
		}
		p{
			@include instruction-font();
			font-size: .8rem;
			margin: 30px;
			color: $lightgray;
		}
		@include absolute-center;
		text-align: center;
		color: $white;

		form{
			input{
				display: block;
				margin: auto;
				margin-bottom: 10px;
			}
		}
	}
}

#quoteInput{
	z-index: 3;
	visibility: hidden;
	.main{
		width: 600px; //bad
		@include absolute-center;
		text-align: center;
		h1{
			font-family: $Caslon;
			color: $white;
			font-weight: lighter;
			font-size: 2rem;
			margin: 0;
			margin-bottom: 25px;
		}

		#prompt{
			position: relative;
			.textinput{
				position: relative;
				background: none;
				color: $lightgray;
				border: none;
				text-align: center;
				resize: none;
				font-family: $Brandon;
				font-weight: lighter;
				font-size: 20px;
				transition: all .5s;
				padding: 0;
				line-height: 22px;
				margin-bottom: 30px;
				width: 100%;

				&:focus + i {
				    display: none;
				}

				&:focus{
					outline: none;
				}
			}
		}


		.remaining{
			font-family: $Brandon;
			font-weight: lighter;
			font-size: 15px;
			color: $gray;
			margin-bottom: 20px;
		}

	}
}

#quoteMain{
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	.main{
		@include absolute-center;
		text-align: center;
		h1{

		}
	}

	.close{
		margin: auto;

		&:hover{
			cursor: pointer;
		}
	}
}

.fadeOut{
	animation: fadeOut 1s 1 forwards;
}

.fadeIn{
	animation: fadeIn 1s 1 forwards;
}

@keyframes fadeOut{
	0%{opacity: 1};
	99%{opacity: 0; visibility: visible;}
	100%{opacity: 0; visibility: hidden;}
}

@keyframes fadeIn{
	0%{opacity: 0; visibility: visible;};
	100%{opacity: 1; visibility: visible;}
}

.submitButton{
	// display: none;
	display: block;
	margin: auto;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid $lightgray;
	cursor: pointer;
	transition: box-shadow .25s ease;
	box-shadow: 0px 0px 10px white;
	// animation: blinkGlow 2s infinite alternate;

	&:before{
		content: ">";
		position: absolute;
		@include absolute-center;
	}
}

@keyframes blinkGlowBorder{
	0%{box-shadow: 0px 0px 5px white;}
	100%{box-shadow: 0px 0px 15px white;}
}

.glowBorder{
	&:hover{
		border: 1px solid $white;
		animation: none;
		box-shadow: 0px 0px 40px white; 
	}
}

@keyframes blinkGlow{
		0%{text-shadow: 0 0 15px rgba(255, 255, 255, 1);}
		100%{text-shadow: 0 0 30px rgba(255, 255, 255, 1);}
	}


.glow{
	text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.glowAnim{
	animation: blinkGlow 2s alternate infinite linear;
}

.blinkAnim{
	animation: fadeIn 2s alternate infinite linear;
}
